@model NextGen.ViewModels.HomeViewModel

<h2>@Model.Title</h2>


@foreach (var injectorPic in Model.Injectors)
{

    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <h2>@injectorPic.Key.ToString()</h2>
            <img src="@injectorPic.Value.ToString()" alt="">
        </div>
    </div>
}